name: Build

on:
  push:
    branches:
      - '**'
    tags:
      - 'v*.*'

jobs:
  gradle:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Java
      uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: 8

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Run gradle build
      uses: gradle/gradle-build-action@v2
      with:
        arguments: dist docker
    
    - name: Archive artifacts
      uses: actions/upload-artifact@v4
      with:
        path: build/distributions/*.zip

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v4
      with:
        images: |
          ghcr.io/bdew-wurm/uniquebot
        tags: |
          type=ref,event=branch
          type=ref,event=tag
          type=sha
    
    - name: Login to GHCR
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Build and push
      uses: docker/build-push-action@v3
      with:
        context: .
        file: docker/Dockerfile
        push: ${{ github.event_name != 'pull_request' }}
        platforms: linux/amd64,linux/arm64
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - name: Add build to release
      if: startsWith(github.ref, 'refs/tags/')
      uses: xresloader/upload-to-github-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        file: build/distributions/*.zip
        overwrite: true
        tags: true
        tag_name: ${{ steps.version.outputs.VERSION }}
